# Directories
.vscode
chromedriver
virtualenv
output
.pytest_cache
**/__pycache__
**/*.egg-info
**/dist
**/build
**/musescore-downloader*

# Files
**/*.txt
**/*.ipynb  
**/config.ini
geckodriver.log
musescore_downloader.py
playground.py

# Docker
Dockerfile
.dockerignore

# Exclude
!requirements.txt